<div fxLayout="row" fxFlex="grow" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxLayoutAlign="center stretch">
    <div fxLayoutAlign="center">
      <h3>Log in</h3>
    </div>
    <mat-form-field class="long">
      <input matInput [(ngModel)]="email" type="email" placeholder="email">
    </mat-form-field>
    <mat-form-field class="long">
      <input matInput [(ngModel)]="password" type="password" placeholder="password">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-around stretch" *ngIf="!isLoading">
      <button mat-raised-button (click)="onLogin()" color="primary" [disabled]="!email || !password">Log in</button>
      <button mat-raised-button (click)="onRegister()" color="primary">Register</button>
    </div>
    <div>
      <app-loading-spinner *ngIf="isLoading" fxLayoutAlign="center center"></app-loading-spinner>
    </div>
    <div class="alert alert-danger" *ngIf="error" style="margin-top: 5px;" fxLayoutAlign="center center">
      <p>{{ error }}</p>
    </div>
  </mat-card>
</div>